* {
  scroll-behavior: smooth;
}

html {
    --color-white: #ffffff;
    --color-dark:#1F2833;
    --color-deepdark:#0E1722;
    --color-primary:  #66FCF1;
    --color-gray: #C5C6C7;
}

body {
  background-color: val(--color-dark);
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url(../assets/fonts/JetBrainsMono-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url(../assets/fonts/JetBrainsMono-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: bold;
}

#app {
  font-family: 'JetBrainsMono', 'sans-serif';
  min-height: 100vh;
}

#intro {
  margin-top: 10vh;
  min-height: 60vh;
  position: relative;
}

.color-white-bg {
  background-color: var(--color-white);
}
.color-dark-bg {
  background-color: var(--color-dark);
}
.color-deepdark-bg {
  background-color: var(--color-deepdark);
}
.color-primary-bg {
  background-color: var(--color-primary);
}
.color-white-text {
  color:var(--color-white);
}
.color-dark-text {
  color: var(--color-dark);
}
.color-deepdark-text {
  color: var(--color-deepdark);
}
.color-primary-text {
  color: var(--color-primary);
}
.color-gray-text {
  color: var(--color-gray);
}
