* {
  scroll-behavior: smooth;
}

html {
    --color-whilte: #ffffff;
    --color-dark:#2d2e32;
    --color-deepdark:#25262a;
    --color-primary:  #63f3ab;
    --color-gray: #8c8d91;
}

body {
  background-color: val(--color-dark);
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url(../assets/fonts/JetBrainsMono-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url(../assets/fonts/JetBrainsMono-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: bold;
}

#app {
  font-family: 'JetBrainsMono', 'sans-serif';
  min-height: 100vh;
}

#intro {
  margin-top: 10vh;
  min-height: 60vh;
  position: relative;
}

/* .container-2 {
  width: 100%;
}
@media (min-width: 640px) {
  .container-2 {
    width: 640px;
  }
}
@media (min-width: 768px) {
  .container-2 {
    width: 768px;
  }
}
@media (min-width: 1024px) {
  .container-2 {
    width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container-2 {
    width: 1400px;
  }
} */

/* 
1: white(#ffffff)
2: dark(#2D2E32)
3: deepDark(#25262A)
4: green(#63F3AB)
5: gray(#8C8D91)
6: gray2(#333438)
*/

.bg-color-1 {
  background-color: #ffffff;
}
.bg-color-2 {
  background-color: #2d2e32;
}
.bg-color-3 {
  background-color: #25262a;
}
.bg-color-4 {
  background-color: #63f3ac;
}
.bg-color-5 {
  background-color: #8c8d91;
}
.bg-color-6 {
  background-color: #333438;
}

.font-color-1 {
  color: #ffffff;
}
.font-color-2 {
  color: #2d2e32;
}
.font-color-3 {
  color: #25262a;
}
.font-color-4 {
  color: #63f3ab;
}
.font-color-5 {
  color: #8c8d91;
}
.font-color-6 {
  color: #333438;
}

.color-white-bg {
  background-color: var(--color-white);
}
.color-dark-bg {
  background-color: var(--color-dark);
}
.color-deepdark-bg {
  background-color: var(--color-deepdark);
}
.color-primary-bg {
  background-color: var(--color-primary);
}
.color-white-text {
  color:var(--color-white);
}
.color-dark-text {
  color: var(--color-dark);
}
.color-deepdark-text {
  color: var(--color-deepdark);
}
.color-primary-text {
  color: var(--color-primary);
}
.color-gray-text {
  color: var(--color-gray);
}
