@import "./tw.css";

* {
  scroll-behavior: smooth;
}

html {
  --color-white: #ffffff;
  --color-dark: #1f2833;
  --color-deepdark: #0e1722;
  --color-primary: #66fcf1;
  --color-gray: #c5c6c7;
  background-color: var(--color-dark);
}

body {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url(./fonts/JetBrainsMono-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url(./fonts/JetBrainsMono-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: bold;
}

#root {
  font-family: "JetBrainsMono", "sans-serif";
  min-height: 100vh;
}

#intro {
  height: 70vh;
  background-color: var(--color-dark);
}

#project {
  background-color: var(--color-deepdark);
}

#contact {
  height: 50vh;
  background-color: var(--color-dark);
}
